@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
@import "tailwindcss";










@theme {
    --color-base: #13131A;
    --color-baseTwo: #9E9E9E;
    --color-primary: #F09219;
    --color-second: #D88317;
    --color-third: #FADDB8;
    --color-foot: #FDEFDD;
}


/* السويتشر دايمًا LTR */
.language-switcher {
    direction: ltr;
    font-family: 'Cairo', sans-serif;
}

/* تثبيت السويتشر LTR في RTL كمان */
[dir='rtl'] .language-switcher {
    direction: ltr;
}



@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 8s linear infinite;
}


@keyframes swing {
    0%, 100% {
        transform: translateX(-40%) translateY(-50%);
    }

    25% {
        transform: translateX(-55%) translateY(-40%);
    }

    75% {
        transform: translateX(-45%) translateY(-70%);
    }
}

.animate-swing {
    animation: swing 3s ease-in-out infinite;
}